<div class="resume-entry-types-index">
	<div class="container">
		<table>
			<thead>
				<tr>
					<th>Description</th>
					<th>Resume Entries</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @resume_entry_types.each do |resume_entry_type| %>
					<tr>
						<td>
							<%= resume_entry_type.description %>
						</td>
						<td>
							<% if !resume_entry_type.resume_entries.empty? %>
								<ul>
									<% resume_entry_type.resume_entries.each do |entry| %>
										<li><%= entry.title %></li>
										<% if !entry.resume_entry_notes.empty? %>
											<ul>
												<% entry.resume_entry_notes.each do |note| %>
													<li><%= note.note %></li>
												<% end %>
											</ul>
										<% end %>
									<% end %>
								</ul>
							<% end %>
						</td>
						<td>
							<%= link_to "Show", resume_entry_type_path(resume_entry_type) %>
						</td>
						<td>
							<%= link_to "Edit", edit_resume_entry_type_path(resume_entry_type) %>
						</td>
						<td>
							<%= link_to "Delete", resume_entry_type, :method => :delete, 
																											  :confirm => "Are you sure you want to delete #{resume_entry_type.description}?", 
																											  :title => "Delete item?" %></h1>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<br />
		<%= link_to "Create a new Resume Entry Type", new_resume_entry_type_path %>		
	</div>
</div>

