<div class="resume-entries-show">
	<div class="container">
		<h1><%= @resume_entry.title %></h1>

  	<div>
  		<%= @resume_entry.resume_entry_type.description %>
		</div>
  	<div>
  		<%= @resume_entry.start_period %>
		</div>
  	<div>
  		<%= @resume_entry.end_period %>
		</div>
  	<div>
  		<%= @resume_entry.order_by %>
		</div>


		<% if !@resume_entry.resume_entry_notes.empty? %>
			<h2>Notes</h2>

			<table>
				<thead>
					<tr>
						<th>Note</th>
						<th></th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					<% @resume_entry.resume_entry_notes.each do |note| %>
						<tr>
							<td><%= note.note %></td>
							<td>
								<%= link_to "edit", edit_resume_entry_note_path(note) %>
							</td>
							<td>
								<%= link_to "delete", note, :method => :delete, 
																		:confirm => "Are you sure you want to delete #{note.note}?", 
																	    :title => "Delete item?" %></td>									
							</td>
						</tr>
					<% end %>
				</tbody>
				
			</table>
				
			</ul>
		<% end %>



		<!-- Form to add a new note -->
		<%= link_to "New resume entry note", new_resume_entry_note_path(resume_entry_id: @resume_entry.id) %>
		
	</div>
</div>
