<h1><%= @resume_entry.title %> | <%= link_to "edit", edit_resume_entry_path(@resume_entry) %> | <%= link_to "delete", @resume_entry, :method => :delete, 
											:confirm => "Are you sure you want to delete #{@resume_entry.title}?", 
										    :title => "Delete item?" %></h1>
<table class="resumeentries">
	<tr class="resumentriesheader">
		<td>Entry Type</td>
		<td>Start</td>
		<td>End</td>
		<td>Display Order</td>
	</tr>
	<tr>
		<td><%= link_to @resume_entry.resume_entry_type.description, @resume_entry.resume_entry_type %></td>
		<td><%= @resume_entry.start_period %></td>
		<td><%= @resume_entry.end_period %></td>
		<td><%= @resume_entry.order_by %></td>
	</tr>
</table>

<!-- Show Notes -->
<% if !@resume_entry.resume_entry_notes.empty? %>
	<h2>Notes</h2>
	<ul>
		<% @resume_entry.resume_entry_notes.each do |note| %>
			<% if !note.note.nil? %>
				<li><%= link_to note.note, resume_entry_note_path(note) %> | <%= link_to "edit", edit_resume_entry_note_path(note) %> | <%= link_to "delete", note, :method => :delete, 
															:confirm => "Are you sure you want to delete #{note.note}?", 
														    :title => "Delete item?" %></li>
			<% end %>
		<% end %>
	</ul>
<% end %>

<!-- Form to add a new note -->
<%= render 'shared/resume_entry_note_form' %>