<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @newsletter_sign_up.email %>
</p>

<p>
  <b>Category:</b>
  <%= @newsletter_sign_up.category %>
</p>

<p>
  <b>Notes:</b>
  <%= @newsletter_sign_up.notes %>
</p>


<%= link_to 'Edit', edit_newsletter_sign_up_path(@newsletter_sign_up) %> |
<%= link_to 'Back', newsletter_sign_ups_path %>
