<div class="field">
	<%= f.hidden_field :resume_entry_id %>
</div>
<div class="field">
	<%= f.label :order_by %><br />
	<%= f.text_field :order_by %>
</div>
<div class="field">
	<%= f.label :note %><br />
	<%= f.text_area :note, :cols => 95, :rows => 10 %>
</div>
<div class="field">
	<%= f.label :url %><br />
	<%= f.text_field :url%>
</div>
<div class="field">
	<%= f.label :link_text %><br />
	<%= f.text_field :link_text %>
</div>