<p>
	<div class='section-header'>
		<%= image_tag "JobApp/RailsHeader.png" %>
	</div>
	<div class='section-body'>
		<table class='portfolio'>
			<tr>
				<td>
					<%= image_tag "JobApp/PersonalRails.png" %>
				</td>
				<td>
					<a dialog_to_open='#capo_dialog' class='portfolio-item capo-button' href="#"></a>
				</td>
				<td>
					<a dialog_to_open='#md_dialog' class='portfolio-item md-button' href="#"></a>
				</td>
				<td>
					<a dialog_to_open='#wwwp_dialog' class='portfolio-item wwwp-button' href="#"></a>
				</td>
				<td>
					<a dialog_to_open='#caseylicom_dialog' class='portfolio-item caseyli-button' href="#"></a>
				</td>
			</tr>
			<tr>
				<td>
					<%= image_tag "JobApp/ProRails.png" %>
				</td>
				<td>
					<a dialog_to_open='#teldio_dialog' class='portfolio-item teldio-button' href="#"></a>
				</td>
				<td>
					<a dialog_to_open='#rbx_dialog' class='portfolio-item rbx-button' href="#"></a>
				</td>
				<td>
					
				</td>
				<td>
					
				</td>
			</tr>
			<tr>
				<td>
					<%= image_tag "JobApp/ShopifyRails.png" %>
				</td>
				<td>
					<a dialog_to_open='#sidexside_dialog' class='portfolio-item sidexside-button' href="#"></a>
				</td>
				<td>
				</td>
				<td>
				</td>
				<td>
				</td>				
			</tr>
		</table>
	</div>
</p>

<!-- Dialogs -->

<div id='capo_dialog' class='modal-dialog' style="display:none;">
	<div class='modal-dialog-body'>
		<table class='dialog'>
			<tr>
				<td>
					<%= image_tag 'JobApp/CapoLogo.png' %>
				</td>
				<td>
					<h1>Capo Open Mic Community App</h1>
					<p>
					The Capo Open Mic Community App is by far the Rails project I'm most proud of to date.
					After doing my initial learning of Rails and getting some full-time experience, I decided
					to get to work on my own project and Capo was the result. It is a Social Network for Open Mic/Open Stage
					performers and audience members alike. It allows users to browse, submit, and attend open mics.
					It also features a full-blown JQTouch iPhone-optimized UI. This app taught me a lot about dealing with
					real users as well as overall product development in Rails.
					</p>
					<div class>
						<a href="http://www.capoapp.ca" target="_blank"><%= image_tag "JobApp/view.png" %></a>
						<a class='close-dialog-link' dialog_to_close="#capo_dialog" href="#"><%= image_tag "JobApp/close.png" %></a>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>

<div id='md_dialog' class='modal-dialog' style="display:none;">
	<div class='modal-dialog-body'>
				<table class='dialog'>
			<tr>
				<td>
					<%= image_tag 'JobApp/MarilynAndDouglasLogo.png' %>
				</td>
				<td>
					<h1>Marilyn and Douglas Wedding Site</h1>
					<p>
						A basic rails site I developed for my sister and her fiance for their upcoming wedding.
						The focus with this site was on design aesthetic. The couple was a modern stylish couple
						that wanted a moden stylish website. It started out as a one-page "Save the Date" announcement
						that grew into a full-blown site. Like Capo, this also features a full-blown JQTouch iPhone-optimized
						UI. Some lessons learned here included small things like iPhone Phone Number Links and Calender additions.
					</p>
					<div class>
						<a href="http://www.marilynanddouglas.com" target="_blank"><%= image_tag "JobApp/view.png" %></a>
						<a class='close-dialog-link' dialog_to_close="#md_dialog" href="#"><%= image_tag "JobApp/close.png" %></a>	
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>

<div id='wwwp_dialog' class='modal-dialog' style="display:none;">
	<div class='modal-dialog-body'>
		<table class='dialog'>
			<tr>
				<td>
					<%= image_tag 'JobApp/wwwpLogo.png' %>
				</td>
				<td>
					<h1>WhatWrongWithPresentations</h1>
					<p>
						As a part of my advocacy to better the world's presentations, I started this site very recently. It's a tutorial
						work-in-progress site focused on changing the way the world thinks about presentations - changing not only
						their tools and techniques but also their philosophies on presenting. The idea stemmed from my years
						of experience in holding presentation workshops and sitting through endless bad presentations in 
						my professional career.
					</p>
					<div class>
						<a href="http://www.whatswrongwithpresentations.com" target="_blank"><%= image_tag "JobApp/view.png" %></a>
						<a class='close-dialog-link' dialog_to_close="#wwwp_dialog" href="#"><%= image_tag "JobApp/close.png" %></a>	
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>

<div id='caseylicom_dialog' class='modal-dialog' style="display:none;">
	<div class='modal-dialog-body'>
		<table class='dialog'>
			<tr>
				<td>
					<%= image_tag 'JobApp/caseylicomLogo.png' %>
				</td>
				<td>
					<h1>caseyli.com</h1>
					<p>
						My very first Rails app. As part of my original Shopify application, I designed a Rails app that was
						to act as my resume. Besides a basic front-end that showed my basic skills, the site actually featured
						a simple CMS-style back-end that allowed me to keep the site updated with my latest work experience,
						skills, and more.
					</p>
					<div class>
						<a href="http://www.caseyli.com" target="_blank"><%= image_tag "JobApp/view.png" %></a>
						<a class='close-dialog-link' dialog_to_close="#caseylicom_dialog" href="#"><%= image_tag "JobApp/close.png" %></a>	
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>

<div id='teldio_dialog' class='modal-dialog' style="display:none;">
	<div class='modal-dialog-body'>
		<table class='dialog'>
			<tr>
				<td>
					<%= image_tag 'JobApp/TeldioLogo.png' %>
				</td>
				<td>
					<h1>Teldio Corporate Website</h1>
					<p>
						As part of my first full-time Rails job, I was in charge of maintaning the Teldio Corporate Website. Teldio
						was a start-up developing applications for Two-Way Radios. Because of the start-up nature, in-house developers
						managed their own marketing and I was in charge on constantly updating the Teldio Corporate Website which
						was built in Rails.
					</p>
					<div class>
						<a href="http://www.teldio.com" target="_blank"><%= image_tag "JobApp/view.png" %></a>
						<a class='close-dialog-link' dialog_to_close="#teldio_dialog" href="#"><%= image_tag "JobApp/close.png" %></a>	
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>

<div id='rbx_dialog' class='modal-dialog' style="display:none;">
	<div class='modal-dialog-body'>
		<table class='dialog'>
			<tr>
				<td>
					<%= image_tag 'JobApp/RBXLogo.png' %>
				</td>
				<td>
					<h1>RBX +Plus Web Interface</h1>
					<p>
						Working at Teldio gave me a lot of real-world Rails experience as I was the developer in charge of the RBX +Plus
						Web Interface. RBX +Plus was Teldio's flagship product that connected Phones with Two-way Radios. It was completely
						configured using a Rails app that I maintained. This actually gave me insight into Rails 2 and some the major differences
						since I was used to only developing in Rails 3.
					</p>
					<p>
						This product was deployed at customer sites and is unfortunately unavailable for public viewing.
					</p>
					<div class>
						<a class='close-dialog-link' dialog_to_close="#rbx_dialog" href="#"><%= image_tag "JobApp/close.png" %></a>	
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>

<div id='sidexside_dialog' class='modal-dialog' style="display:none;">
	<div class='modal-dialog-body'>
		<table class='dialog'>
			<tr>
				<td>
					<%= image_tag 'JobApp/SideXSideLogo.png' %>
				</td>
				<td>
					<h1>SIDEXSIDE</h1>
					<p>
						SIDEXSIDE is my first Shopify App that I just started building recently. It is still a work in progress
						but it has gotten me familiar with the App creation and deployment process as well as the Shopify API itself. 
						I took a look at the wish list and started getting to work on this app that allows you to compare products side by side.
						Backlog ideas include Diff like functionality (copy right, copy left) and ability to compare variants
						of products.
					</p>
					<div class>
						<a href="http://sidexside.heroku.com" target="_blank"><%= image_tag "JobApp/view.png" %></a>
						<a class='close-dialog-link' dialog_to_close="#sidexside_dialog" href="#"><%= image_tag "JobApp/close.png" %></a>	
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>
