<p>
	<div class='center'>
		<a href='#' id='cover_letter_link'><%= image_tag "JobApp/coverletter.png", :class => "basics-links" %></a>
		<a href='#' id='skills_grid_link'><%= image_tag "JobApp/skillsgrid.png", :class => "basics-links" %></a>
		<a href='/Casey Li - Resume.pdf' id='resume'><%= image_tag "JobApp/traditionalresume.png", :class => "basics-links" %></a>
	</div>
	<br/>
	<div class='center'>
		<a href='http://www.github.com/caseyli' target='_blank'><%= image_tag "JobApp/githubaccount.png", :class => "basics-links" %></a>
	</div>
</p>

<!-- Cover Letter -->
<div id='cover_letter' class='modal-dialog' style="display:none;">
	<div class='cover-letter-body'>
		<p>
			March 12th, 2012
		</p>
		
		<p>
			Dear Shopify,	
		</p>
		
		<p>
			Less than a year has passed and it seems so much has changed.	
		</p>
		 
		<p>
			It was July 13th of last year that I actually applied to a Shopify Job Posting.
			Everything seemed to go well until I hit a technical interview that proved I just wasn’t qualified enough.
			I had a small fear that all the energy and passion I had built up might have been doused by this news.
			Luckily, it did not.						
		</p>

		<p>
			The natural question for an employer looking at a candidate who’s applied before is – what has changed since you
			last applied? Well I can honestly say a lot.	
		</p>
		
		<p>
			2 weeks after I lost the position at Shopify, I got a call from a small startup called Teldio looking for a
			Rails developer. Looking to improve on this new found love of mine, I naturally jumped at the opportunity.
			The decision to join the Teldio team proved to be one of the best career decisions I’ve made.
		</p>
		
		<p>
			Going to Teldio gave me a good context change where I could hone my Rails skills in a full-time environment
			while also taking on a Product Owner role. The passion that had initially sparked in learning Rails continued on.
			During my time at Teldio, I also took on several personal Rails projects. Things I would learn at work I’d apply at home and vice-versa.
		</p>
		
		<p>
			So what has changed? When I originally applied, I was new to the Rails world and disconnected from the forward-thinking
			software community. Today, on top of a lot of real-world Rails experience, I have also joined two Ottawa Meetup communities
			(Agile and Ottawa Ruby), gained good startup experience at Teldio, and that’s just the tip.
		</p>
		
		<p>
			Shopify has always been the dream place to work for me. Just as before, the more and more I learn and hear about Shopify,
			the more I realize it’s where I need to be.	
		</p>
		
		<p>
			I didn’t get the job last year, but that didn’t stop me from working hard to achieve my goal. Today, I’m confident that
			I have something to offer Shopify.	
		</p>

		<p>
			Please take some time to browse my online application as I feel it best showcases my work. The opportunity for an interview
			would be amazing. I’d be willing to come in at anytime or talk a phone call.
		</p>

		<p>
			I thank you so much for your time and consideration and hope to hear from you soon.	
		</p>
		
		<a class='close-dialog-link no-underline' dialog_to_close="#cover_letter" href="#"><div>CONTINUE [X]</div></a>
		</div>
	</div>
</div>

<!-- Skills Grid -->
<div id='skills_grid' class='modal-dialog' style="display:none;">
	<div class='skills-grid-body'>
		<div class='my-skills'>/my_skills</div>
		<div class='skills'>
			<% @skills.each do |skill| %>
				<div class='skill'><%= skill %></div>	
			<% end %>
		</div>
		<div>
		<a class='close-dialog-link no-underline' dialog_to_close="#skills_grid" href="#"><div class='skill skill-close'>CLOSE [X]</div></a>
		</div>
	</div>
</div>
