<p>
	<div class='center'>
		<%= link_to image_tag("JobApp/coverletter.png", :class => "basics-links"), "#", :id => 'cover_letter_link' %>
		<%= link_to image_tag("JobApp/skillsgrid.png", :class => "basics-links"), "#", :id => 'skills_grid_link' %>
		<%= link_to image_tag("JobApp/traditionalresume.png", :class => "basics-links"), '/Casey Li - Resume.pdf', :id => 'resume', :target => "_blank" %>
	</div>
	<br/>
	<div class='center'>
		<%= link_to image_tag("JobApp/githubaccount.png", :class => "basics-links"), 'http://www.github.com/caseyli', :target =>'_blank' %>
		<%= link_to image_tag("JobApp/LinkedIn.png", :class=>'basics-links'), "http://ca.linkedin.com/pub/casey-li/37/49a/7", :target => '_blank' %>
	</div>
</p>

<!-- Cover Letter -->
<div id='cover_letter' class='modal-dialog' style="display:none;">
	<div class='cover-letter-body'>
		<p>
			March 18th, 2012
		</p>
		
		<p>
			Dear Shopify,	
		</p>
		
		<p>
			Less than a year has passed and so much has changed.	
		</p>
		 
		<p>
			It was July 13th of last year that I first applied to Shopify.
			Everything seemed on course but my Ruby on Rails knowledge had not yet matured to the level required.
			The natural question for an employer looking at a candidate who’s applied before is – "What has changed since we
			last spoke?" Well I can honestly say a lot.	
		</p>
		
		<p>
			2 weeks after my interviews at Shopify, I was contacted by a startup called Teldio who was looking for a
			Rails developer. Looking to improve on this newfound love of mine, I naturally jumped at the opportunity.
			The decision to join the Teldio team proved to be one of the best career decisions I’ve made.
		</p>
		
		<p>
			Going to Teldio gave me a good context change where I could hone my Rails skills in a professional environment.
			My initial passion for the language continued on.
			In addition to my professional work, I also took on several personal projects during this time.
			Concepts I would learn at work I’d apply at home and vice-versa.
			Furthermore, shortly after I started, I also took on the role of Product Owner. It was quite an eye-opener for me on many fronts.
		</p>
		
		<p>
			So, what has changed? When I originally applied, I was new to the Rails world and disconnected from the forward-thinking
			software community. Today, on top of a wealth of real-world Rails experience including professional, personal, and Shopify apps,
			I have also joined two Ottawa Meetup communities (Agile Ottawa and Ottawa Ruby), and gained good startup experience at Teldio.
		</p>
		
		<p>
			Shopify has always been the dream place to work for me. Just as before, the more I learn and hear about Shopify,
			the more I realize it’s where I need to be.	
		</p>
		
		<p>
			Nothing has deterred me from working hard to achieve my goal and today, I’m confident that
			I have something to offer Shopify.	
		</p>

		<p>
			Please take some time to browse my online application as I feel it best showcases my work. 
		</p>

		<p>
			I thank you so much for your time and consideration and hope to hear from you soon.	
		</p>
		
		<a class='close-dialog-link no-underline' dialog_to_close="#cover_letter" href="#"><div>CONTINUE [X]</div></a>
		</div>
	</div>
</div>

<!-- Skills Grid -->
<div id='skills_grid' class='modal-dialog' style="display:none;">
	<div class='skills-grid-body'>
		<div class='my-skills'>/my_skills</div>
		<div class='skills'>
			<% @skills.each do |skill| %>
				<div class='skill'><%= skill %></div>	
			<% end %>
		</div>
		<div>
		<a class='close-dialog-link no-underline' dialog_to_close="#skills_grid" href="#"><div class='skill skill-close'>CLOSE [X]</div></a>
		</div>
	</div>
</div>
