<p>
	<div class='section-header'>
		<%= image_tag "JobApp/TalksHeader.png" %>
	</div>
	<div class='section-body'>
		<table class='experience'>
			<tr>
				<td>
					<a dialog_to_open='#leadership_dialog' class='experience-item' href="#"><%= image_tag "JobApp/HarrisLeadership.png" %></a>
				</td>
				<td>
					<a dialog_to_open='#northstarcc_dialog' class='experience-item' href="#"><%= image_tag "JobApp/NorthstarCC.png" %></a>
				</td>
				<td>
					<a dialog_to_open='#ssmotivational_dialog' class='experience-item' href="#"><%= image_tag "JobApp/SSMotivational.png" %></a>
				</td>
			</tr>
		</table>
	</div>
</p>

<!-- Dialogs -->

<div id='leadership_dialog' class='modal-dialog' style='display:none;'>
	<div class='modal-dialog-body'>
		<h1>Harris Leadership Offsites</h1>
		<p>
			The Annual Harris Leadership Offsites became the highlight of my presentational career. I had the opportunity
			to give two 45-minute talks to leaders including CEOs, General Managers, Executives and more. My first talk
			was about the importance of passion in work and life while the second one dealt with Millennials in the workforce.
			Presentations being one of my passions, having this opportunity was truly a dream come true.
		</p>
		<div class>
			<a class='close-dialog-link' dialog_to_close="#leadership_dialog" href="#"><%= image_tag "JobApp/close.png" %></a>	
		</div>
	</div>
</div>

<div id='northstarcc_dialog' class='modal-dialog' style='display:none;'>
	<div class='modal-dialog-body'>
		<h1>NorthStar Customer Conferences</h1>
		<p>
			Attending three years in a row, the NorthStar Customer Conferences gave me a lot of experience doing sales
			demoes and product presentations. It also taught me the importance of customer relationships and how a good
			relationship can be more powerful than anything in business. 
		</p>
		<div class>
			<a class='close-dialog-link' dialog_to_close="#northstarcc_dialog" href="#"><%= image_tag "JobApp/close.png" %></a>	
		</div>
	</div>
</div>

<div id='ssmotivational_dialog' class='modal-dialog' style='display:none;'>
	<div class='modal-dialog-body'>
		<h1>Systems & Software Motivational Talk</h1>
		<p>
			I was invited to a sister company, Systems & Software, to give a motivational talk about being passionate
			in everything you do. This was the first time I had given a talk to a large group of people I was not connected
			with to any significant degree. It was amazing to spread what I believed in to such a large group.
		</p>
		<div class>
			<a class='close-dialog-link' dialog_to_close="#ssmotivational_dialog" href="#"><%= image_tag "JobApp/close.png" %></a>	
		</div>
	</div>
</div>


