<h1>About Casey Li Resume</h1>
<p class="about">
The "Casey Li Resume" Web Application was built using Ruby on Rails. It was meant to showcase Casey's core skills in using Ruby on Rails. Although most of what regular users will see will be the Resume listings, there is a fully interactive Web Application for administrators who sign in. They can fully manage Resume Entry Types, Resume Entries, and Resume Entry Notes.
</p>
<p class="about">
This app would not be possible without the following resources:
</p>
<ul class="resources">
	<li><%= link_to "Ruby on Rails Tutorial by Michael Hartl", "http://ruby.railstutorial.org", :target => "blank" %></li>
	<li><%= link_to "Rails for Zombies", "http://railsforzombies.org/", :target => "blank" %></li>
	<li><%= link_to "TryRuby.org", "http://tryruby.org", :target => "blank" %></li>
</ul>

<br/>
<h1>Other Works</h1>
<p class="about">
Here are some of Casey Li's other works.
<ul class="resources">
	<li><%= link_to "Graphic Design Portfolio", "http://caseyli.carbonmade.com", :target => "blank" %></li>
	<li><%= link_to "Photography Collection", "http://picasaweb.google.com/casey.li", :target => "blank" %></li>
	<li><%= link_to "Podcast", "http://theetcpodcast.blogspot.com", :target => "blank" %></li>
</ul>
</p>