<h1>Gitting to Know You</h1>
<h2>Git Tutorial Videos</h2>

<ul class='videos'>
	<li><%= link_to "000 - Introduction", "http://www.youtube.com/watch?v=xCteegcemgw", :target => "_blank" %></li>
	<li><%= link_to "100 - Basics of Committing", "http://www.youtube.com/watch?v=90gfI71O8QQ", :target => "_blank" %></li>
	<li><%= link_to "200 - Basics of Committing", "http://www.youtube.com/watch?v=UIO5CGgTumo", :target => "_blank" %></li>
	<li><%= link_to "300 - More Committing", "http://www.youtube.com/watch?v=ZAZ9ohOFNEM", :target => "_blank" %></li>
	<li><%= link_to "400 - Branching", "http://www.youtube.com/watch?v=CZkUhcYNDJE", :target => "_blank" %></li>
	<li><%= link_to "500 - Branching Part 2", "http://www.youtube.com/watch?v=RiQkZEtUrkM", :target => "_blank" %></li>
	<li><%= link_to "600 - Branching Part 3", "http://www.youtube.com/watch?v=M_Qsa0OZKy4", :target => "_blank" %></li>
	<li><%= link_to "700 - Small Break and Small Tips", "http://www.youtube.com/watch?v=ul3MvMWBC70", :target => "_blank" %></li>
	<li><%= link_to "800 - Remote Repositories", "http://www.youtube.com/watch?v=1LmfqV0bw4E", :target => "_blank" %></li>
	<li><%= link_to "900 - Intro to GitHub", "http://www.youtube.com/watch?v=DicH5X8Vark", :target => "_blank" %></li>
	<li><%= link_to "1000 - Git Push", "http://www.youtube.com/watch?v=1LmfqV0bw4E", :target => "_blank" %></li>
</ul>

Contact me at <%= link_to "casey.li@gmail.com", "mailto:casey.li@gmail.com" %>.