<p>
<div class='center'>
	<%= image_tag "JobApp/Mission.png", :class => "mission" %>
</div>	
</p>

<p>
<div class='center'>
	<%= image_tag "JobApp/YourJob.png"%>
</div>
</p>

<%= render 'jobapplication_basics' %>

<%= render 'jobapplication_rails' %>
<%= render 'jobapplication_management' %>
<%= render 'jobapplication_marketing' %>
<%= render 'jobapplication_talks' %>



<p>
	<div class='center'>
		<%= image_tag "JobApp/Interested.png" %>
	</div>
</p>


<%= render 'jobapplication_eventhandlers' %>