<div class="top-contact">
	<%= link_to "casey.li@gmail.com", "mailto:casey.li@gmail.com" %> / 613.291.1888
</div>
<p>
<div class='center'>
	<%= image_tag "JobApp/Mission.png", :class => "mission" %>
</div>	
</p>

<p>
<div class='center'>
	<%= link_to image_tag("JobApp/YourJob.png"), "http://www.shopify.com/careers/details?jvi=otvcWfwQ,job", :target => "_blank" %>
</div>
</p>

<%= render 'jobapplication_basics' %>

<%= render 'jobapplication_rails' %>
<%= render 'jobapplication_management' %>
<%= render 'jobapplication_marketing' %>
<%= render 'jobapplication_talks' %>



<p>
	<div class='center'>
		<%= link_to image_tag("JobApp/Interested.png"), 'mailto:casey.li@gmail.com' %>
	</div>
</p>


<%= render 'jobapplication_eventhandlers' %>