<%= stylesheet_link_tag 'views/pages/slideroom' %>

<div id="pages-slideroom">
  <h1>Slideroom</h1>

  <%= image_tag "Slideroom/QuickTip001.jpg" %>
  <%= image_tag "Slideroom/QuickTip002.jpg" %>
  <%= image_tag "Slideroom/QuickTip003.jpg" %>
  <%= image_tag "Slideroom/QuickTip004.jpg" %>
</div>