<div id="pages-slideroom">
  <div class="container">
    <h1>Slideroom</h1>

    <div class='slogan'>
      Quick, concrete tips about presentation and slide design.
    </div>

    <p>
      Welcome to Slideroom - one of the many resources out there hoping to fix the systematic problem
      of bad presentations. Here, we focus on quick, concrete tips about presentation and slide design.
      Something to always keep in mind is that the best presentations are not just about the speaker, 
      not just about the content, and definitely not just about the slides but rather 
      about a well-orchestrated, balanced, and apporpriate performance between all of those parts.
    </p>

    <p>
      This work was heavily inspired by <%= link_to "@steveschoger", "https://www.twitter.com/steveschoger" %> and
      his <%= link_to "RefactoringUI", "https://refactoringui.com" %> brand. I should also mention that
      when I got started with slide design, <%= link_to "Garr Reynold's Presentation Zen", "http://www.presentationzen.com/" %> 
      was definitely a big influence.
    </p>

    <p>
      If you'd like me to use one of your slides as a case study or have any questions, 
      feel free to reach out via twitter
      <%= link_to "@caseyli23", "https://www.twitter.com/caseyli23" %> or by e-mail at either 
      <%= link_to "casey.li@gmail.com", "mailto:casey.li@gmail.com" %> or
      <%= link_to "casey.li@bitesite.ca", "mailto:casey.li@bitesite.ca" %>
    </p>

    <p>
      For regular updates, follow me on Twitter <%= link_to "@caseyli23", "https://www.twitter.com/caseyli23" %>.
    </p>

    <%= image_tag "Slideroom/QuickTip001.jpg" %>
    <%= image_tag "Slideroom/QuickTip002.jpg" %>
    <%= image_tag "Slideroom/QuickTip003.jpg" %>
    <%= image_tag "Slideroom/QuickTip004.jpg" %>
    <%= image_tag "Slideroom/QuickTip005.jpg" %>
    <%= image_tag "Slideroom/QuickTip006.jpg" %>
    <%= image_tag "Slideroom/QuickTip007.jpg" %>
    <%= image_tag "Slideroom/QuickTip008.jpg" %>

    <p class='end-call-to-action'>
      For more tips and updates in the future, follow me on Twitter <%= link_to "@caseyli23", "https://www.twitter.com/caseyli23" %>.
    </p>
  </div>
</div>