

<div class="section hero-section">
	<div class="container">
		<%= image_tag "tutorails_logo.png", class: "hero" %>
		<div class="hero-title">
			<span>TUTO</span><span class="rails">RAILS</span>	
		</div>
		<div class="hero-blurb">
			a <b>comprehensive</b>, <b>free</b> web development course using ruby on rails taught in <b>ottawa</b> canada
		</div>
		<div class="where-are-we">
			WHERE ARE WE IN THE SYLLABUS / NEXT COURSE: <br>
			NOVEMBER 4TH, 2013 (6:30pm to 8:30pm)<br>
			Wagon - Kick-off Course & Lab: Setup your environment
		</div>
		<div class="sign-up">
			Sign Up for the course by signing up for our Newsletter. <br>
			Don't worry, there's no obligation and it's completely free!
			<div class="sign-up-form">
				<%= text_field_tag :email, "", placeholder: "email address" %><br>
				<%= link_to "Submit", "#", class: "tutorails-sign-up-submit" %>				
			</div>
			<div class="sign-up-results">
				
			</div>

		</div>
	</div>
</div>
<div class="section info-section">
	<div class="container">
		<div class="section-header">
			INFO
		</div>
		<div class="featured-image">
			<%= image_tag "tutorails_info.png", class: "info-image" %>	
		</div>
		<div class="section-blurb">
			<p>
				Tutorails is a completely free comprehensive web development course that's open to anyone who wants to learn.
				It takes place 
			</p>
			<p>
				<b>Monday nights from 6:30 PM to 8:30 PM at the Shopify Office, 126 York Street, Suite 200,
				Ottawa, ON, Canada</b>
			</p>
			<p>
				It is a drop-in style course so come to the ones you can make, and skip the ones you can't. It is a rolling
				course, so be sure to check this site frequently to see where we are in the syllabus.
			</p>
			
			<p>
				If you're curious about the style of teaching you can expect, check out some of the videos <%= link_to "here", "/videos" %>
			</p>
			
			<p>
				Tutorails is broken up into three main legs covering varying degress of difficulty: Wagon, Rails, and Steam. Please
				browse below for the details on each leg.
			</p>
		</div>
	</div>
</div>
<div class="section wagon-section">
	<div class="container">
		<div class="section-header">
			WAGON
		</div>
		<div class="featured-image">
			<%= image_tag "tutorails_wagon.png", class: "wagon-image" %>	
		</div>
		<div class="section-blurb">
			The Wagon leg of the Tutorails course ensures that everyone who attends is on the same page. Wagon will go through
			some of the absolute basics you'll need before you even touch web development. The topics include:
			
			<ul class="course-list">
				<li>Kick-off Course!</li>
				<ul>
					<li>An introduction to what this is all about!</li>
				</ul>
				<li>Lab: Setup your environment</li>
				<ul>
					<li>Installing RVM (Mac, Linux) and PIK (Windows)</li>
					<li>Installing Ruby</li>
					<li>Installing Rails</li>
					<li>Installing PostgreSQL</li>
					<li>Installing Git</li>
					<li>Installing Heroku Toolbelt</li>
					<li>Setting up SSH Keys</li>
				</ul>
				<li>Primer to Object-Oriented Programming + Primer to Ruby</li>
				<ul>
					<li>Loops, If/Else, Arrays, Hashes</li>
					<li>Classes, Variables, Methods, Class Variables</li>
					<li>Gems</li>
				</ul>
				<li>Primer to SQL Databases</li>
				<li>Primer to Git</li>
			</ul>
			
		</div>
	</div>
</div>
<div class="section rails-section">
	<div class="container">
		<div class="section-header">
			RAILS
		</div>
		<div class="featured-image">
			<%= image_tag "tutorails_rails.png", class: "rails-image" %>	
		</div>
		<div class="section-blurb">
			The Rails leg of the Tutorails course dives into the meat of the course - learning how to build a full web application using
			the Ruby on Rails framework. The topics include:
			
			<ul class="course-list">
				
				<li>Primer to Web Development (Web 2.0) and What exactly is Ruby on Rails?</li>
				
				<li>Creating First Rails App with Static Web Pages + Primer to HTML, CSS</li>
				<ul>
					<li>Links, Forms, Headers, Paragraphs, Body, Title</li>
					<li>Referencing CSS and External CSS</li>
				</ul>
				
				<li>Introduction to Ruby on Rails Routing and Creating Dynamic Web Pages using Embedded Ruby - building our PagesController</li>
				<ul>
					<li>Controllers</li>
					<li>Views</li>
					<li>View Helpers</li>
				</ul>
					
				<li>Introduction to MVC Design Pattern with respect to Ruby on Rails</li>
				
				<li>Creating your first Controller and View</li>
				<ul>
					<li>PagesController</li>
					<li>NewsPosts Controller with Static Data and Index, Show</li>
				</ul>
				
				<li>Diving further into views</li>
				<ul>
					<li>Layouts</li>
					<li>Partials</li>
					<li>Content_for</li>
					<li>Laying out our Application</li>
				</ul>
				
				<li>Introduction to RESTful Resources and HTTP</li>
				
				<li>Creating your first Model, Controller, View (Resource)</li>
				<ul>
					<li>Creating a Database Table</li>
					<li>Creating a Model</li>
					<li>Creating a Controller/Views (New, Create, Edit, Update, Index, Destroy)</li>
				</ul>
				
				<li>Creating more Resources (scaffold)</li>
				<ul>
					<li>EducationListings</li>
					<li>ExperienceListings</li>
				</ul>
				
				<li>Changing Things: Understanding Migrations</li>
				
				<li>Gems and Adding Authentication using Devise</li>
				
				<li>Using Rails Mailers to create a Contact Form</li>
				
				<li>Introduction to Client-Side Code: Javascript + JQuery, Reminder of CSS</li>
				<ul>
					<li>Playing with Javascript</li>
					<li>Google Chrome Console</li>
					<li>Creating a Modal Dialog to present information</li>
				</ul>
				
				<li>Introduction to the Asset Pipeline</li>
				<ul>
					<li>JS in the HTML Page</li>
					<li>JS in the public folder</li>
					<li>JS in the Asset Pipeline</li>
				</ul>
				
				<li>Introduction to AJAX</li>
				<ul>
					<li>Preparing your Application for JSON Repsonses</li>
					<li>Viewing JSON responses</li>
					<li>Making an AJAX Call and doing something with the data</li>
				</ul>
				
				<li>Introduction to Heroku</li>
				
				<li>Deploying to Heroku</li>
				
				<li>Setting up Additional Heroku Deployment</li>
			</ul>

		</div>
	</div>
</div>
<div class="section steam-section">
	<div class="container">
		<div class="section-header">
			STEAM
		</div>
		<div class="featured-image">
			<%= image_tag "tutorails_steam.png", class: "steam-image" %>	
		</div>
		<div class="section-blurb">
			The Steam leg of the Tutorails course takes everything you've learned in building a Ruby on Rails web application and dives
			deeper into more advanced topics. The topics include:
			
			<ul class="course-list">
				<li>Active Record Relationships</li>
				<ul>
					<li>has_many</li>
					<li>belongs_to</li>
					<li>has_and_belongs_to_many</li>
					<li>has_many_through</li>
				</ul>
				
				<li>Amazon S3 + CarrierWave</li>
				
				<li>Advanced Heroku</li>
				<ul>
					<li>Setting up Parallel Test and Production Environments</li>
					<li>Database Management</li>
				</ul>
				
			</ul>
		</div>
	</div>
</div>
<div class="section contact-section">
	<div class="container">
		<div class="section-header">
			CONTACT
		</div>
		<div class="featured-image">
			<%= image_tag "me_circle.png", class: "contact-image" %>	
		</div>
		<div class="section-blurb">
			Tutorails is taught by Casey Li. You can reach him at <%= link_to "casey.li@gmail.com", "mailto:casey.li@gmail.com" %>.
		</div>
	</div>
</div>