

<div class="section hero-section">
	<div class="container">
		<%= image_tag "tutorails_logo.png", class: "hero" %>
		<div class="hero-title">
			<span>TUTO</span><span class="rails">RAILS</span>	
		</div>
		<div class="hero-blurb">
			a <b>comprehensive</b>, <b>free</b> web development course using ruby on rails taught in <b>ottawa</b> canada
		</div>

	</div>
</div>

<div class="section nav-bar">
	<div class="container">
		<%= link_to "GENERAL", "#", id: "general-link", class: "nav-link", destination: ".general-section" %>
		<%= link_to "INFO", "#", id: "info-link", class: "nav-link", destination: ".info-section" %>
		<%= link_to "WAGON", "#", id: "wagon-link", class: "nav-link", destination: ".wagon-section" %>
		<%= link_to "RAILS", "#", id: "rails-link", class: "nav-link", destination: ".rails-section" %>
		<%= link_to "STEAM", "#", id: "steam-link", class: "nav-link", destination: ".steam-section" %>
		<%= link_to "CONTACT", "#", id: "contact-link", class: "nav-link", destination: ".contact-section" %>		
	</div>

</div>

<div class="section general-section">
	<div class="container">
		<div class="section-header">
			GENERAL
		</div>
		<div class="where-are-we">
			WHERE ARE WE IN THE SYLLABUS / NEXT COURSE: <br>
			<%= raw @tutorails_where_we_are %>
		</div>
		<div class="google-links">
			<%= link_to "GOOGLE CALENDAR SCHEDULE", 
						"https://www.google.com/calendar/embed?src=d8fre4q0v4e3521eal181hivl8%40group.calendar.google.com&ctz=America/Toronto",
						class: "google-button",
						target: "_blank" %>
			<%= link_to "GOOGLE GROUP",
			 			"http://groups.google.com/d/forum/tutorails-ottawa",
						class: "google-button",
						target: "_blank" %>		
			<%= link_to "CLASS LOG",
						"https://docs.google.com/document/d/1TdcQ5Jha4YEt1iMgHLj6gZwRuRwTXtnmo_XSPW5pvwQ/edit?usp=sharing",
						class: "google-button",
						target: "_blank" %>	
		</div>

		<div class="sign-up">
			Sign Up for the course by signing up for our Newsletter. <br>
			Don't worry, there's no obligation and it's completely free!
			<div class="sign-up-form">
				<%= text_field_tag :email, "", placeholder: "email address" %><br>
				<%= link_to "Submit", "#", class: "tutorails-sign-up-submit" %>				
			</div>
			<div class="sign-up-results">

			</div>

		</div>		
	</div>

</div>

<div class="section info-section">
	<div class="container">
		<div class="section-header">
			INFO
		</div>
		<div class="featured-image">
			<%= image_tag "tutorails_info.png", class: "info-image" %>	
		</div>
		<div class="section-blurb">
			<p>
				Tutorails is a completely free comprehensive web development course that's open to anyone who wants to learn (<b>even if
				you've never programmed a day in your life!</b>).
				It takes place 
			</p>
			<p>
				<b>Monday nights from 6:30 PM to 8:30 PM at the Shopify Office, 126 York Street, Suite 200,
				Ottawa, ON, Canada</b>
			</p>
			<p>
				It is a drop-in style course so come to the ones you can make, and skip the ones you can't. It is a rolling
				course, so be sure to check this site frequently to see where we are in the syllabus.
			</p>
			
			<p>
				<b>It is HIGHLY RECOMMENDED that you bring a laptop to the course.</b> Although possible to attend to course
				without a laptop, it will be much easier to follow along if you do the work as I do it.
			</p>
			
			<p>
				If you're curious about the style of teaching you can expect, check out some of the videos <%= link_to "here", "/videos" %>.
			</p>
			
			<p>
				Tutorails is broken up into three main legs covering varying degress of difficulty: Wagon, Rails, and Steam. Please
				browse below for the details on each leg.
			</p>
		</div>
	</div>
</div>
<div class="section wagon-section">
	<div class="container">
		<div class="section-header">
			WAGON
		</div>
		<div class="google-links">
			<%= link_to "WAGON GOOGLE DOC", 
						"https://docs.google.com/presentation/d/10uaRWTM-yEe2dtUP-JS45kyns4E_QjsuE5fxoz0cSZo/edit?usp=sharing",
						class: "google-button",
						target: "_blank" %>
		</div>
		<div class="featured-image">
			<%= image_tag "tutorails_wagon.png", class: "wagon-image" %>	
		</div>

		<div class="section-blurb">
			The Wagon leg of the Tutorails course ensures that everyone who attends this course is on the same page. Wagon will go through
			some of the absolute programming and setup basics you'll need before you even touch web development. The topics include:
			
			<ul class="course-list">
				<%= raw @tutorails_wagon_course_list %>
			</ul>
			
		</div>
	</div>
</div>
<div class="section rails-section">
	<div class="container">
		<div class="section-header">
			RAILS
		</div>
		<div class="google-links">
			<%= link_to "RAILS GOOGLE DOC", 
						"https://docs.google.com/presentation/d/1MlQxFhk4uE_bgE-RM1MIsOCgwIMYN30StcbFe7zdzto/edit?usp=sharing",
						class: "google-button",
						target: "_blank" %>
		</div>
		<div class="featured-image">
			<%= image_tag "tutorails_rails.png", class: "rails-image" %>	
		</div>
		<div class="section-blurb">
			The Rails leg of the Tutorails course dives into the meat of the course - learning how to build a full web application using
			the Ruby on Rails framework. The topics include:
			
			<ul class="course-list">
				<%= raw @tutorails_rails_course_list %>
			</ul>

		</div>
	</div>
</div>
<div class="section steam-section">
	<div class="container">
		<div class="section-header">
			STEAM
		</div>
		<div class="google-links">
			<%= link_to "STEAM GOOGLE DOC", 
						"https://docs.google.com/presentation/d/1JBUUQ_BpcgYjM-2Jg4Q13uS85M-SeDhXq7Smsc8YEuM/edit?usp=sharing",
						class: "google-button",
						target: "_blank" %>
		</div>
		<div class="featured-image">
			<%= image_tag "tutorails_steam.png", class: "steam-image" %>	
		</div>
		<div class="section-blurb">
			The Steam leg of the Tutorails course takes everything you've learned in building a Ruby on Rails web application and dives
			deeper into more advanced topics. The topics include:
			
			<ul class="course-list">
				<%= raw @tutorails_steam_course_list %>
			</ul>
		</div>
	</div>
</div>
<div class="section contact-section">
	<div class="container">
		<div class="section-header">
			CONTACT AND WHO IS THIS GUY?
		</div>
		<div class="featured-image">
			<%= image_tag "me_circle.png", class: "contact-image" %>	
		</div>
		<div class="section-blurb">
			Tutorails is taught by Casey Li. You can reach him at <%= link_to "casey.li@gmail.com", "mailto:casey.li@gmail.com" %>.
		</div>
		<div class="section-blurb who-is-this-guy">
			Hi everybody, my name is Casey Li and I'm a web developer based out of Ottawa. I studied software engineering at UOttawa
			from 2001-2006. I actually started out doing Java programming, but slowly moved into web development with JSP and .Net.
			However, it wasn't until I jumped into Ruby on Rails that my web development passion really took off. Seriously - Ruby
			on Rails was the first programming framework I've dealt with that didn't hinder my creativity. Since then, I started
			up a web design company (shameless plug, <%= link_to "http://www.bitesite.ca", "http://www.bitesite.ca" %>) and have
			been loving it ever since. I'm passionate about Rails, but I'm also passionate about teaching. So that's why I'm running
			this free course.
			
			If you want to look up anything else about me, you can hit up some of these links:<br>
			<%= link_to "http://www.caseyli.com", "http://www.caseyli.com" %><br>
			<%= link_to "http://www.bitesite.ca", "http://www.bitesite.ca" %><br>
			<%= link_to "http://www.youtube.com/cli23", "http://www.youtube.com/cli23" %><br>
			<%= link_to "http://www.github.com/caseyli", "http://www.github.com/caseyli" %><br>
			<%= link_to "http://cli23.blogspot.com", "http://cli23.blogspot.com" %>
		</div>
	</div>
</div>