<h1>Videos to help you with whatever!</h1>

<p>
	This page is for general video tutorials. If you were searching for my video production services, be sure to visit <%= link_to "BiteSite Video Portal", "http://www.bitesite.ca/video", target: "_blank" %>.
</p>



<h3>General Programming</h3>
<ul class='videos'>
	<li><%= link_to "The Coderoom", "https://www.youtube.com/watch?v=j7gjOPkJj_I&list=PLAnofBdXcmc9kN80THKgn5IwrGksUhf63" %></li>
	<li><%= link_to "A Primer to Web Development", "http://www.youtube.com/watch?v=shfrT9H5Vtk" %></li>
</ul>

<h3>Gitting to Know You - Git Tutorials</h3>
<ul class='videos'>
	<li><%= link_to "000 - Introduction", "http://www.youtube.com/watch?v=xCteegcemgw" %></li>
	<li><%= link_to "100 - Distributed vs. Central", "http://www.youtube.com/watch?v=90gfI71O8QQ" %></li>
	<li><%= link_to "200 - Basics of Committing", "http://www.youtube.com/watch?v=UIO5CGgTumo" %></li>
	<li><%= link_to "300 - More Committing", "http://www.youtube.com/watch?v=ZAZ9ohOFNEM" %></li>
	<li><%= link_to "400 - Branching Part 1", "http://www.youtube.com/watch?v=CZkUhcYNDJE" %></li>
	<li><%= link_to "500 - Branching Part 2", "http://www.youtube.com/watch?v=RiQkZEtUrkM" %></li>
	<li><%= link_to "600 - Branching Part 3", "http://www.youtube.com/watch?v=M_Qsa0OZKy4" %></li>
	<li><%= link_to "700 - Small Break and Small Tips", "http://www.youtube.com/watch?v=ul3MvMWBC70" %></li>
	<li><%= link_to "800 - Remote Repositories", "http://www.youtube.com/watch?v=1LmfqV0bw4E" %></li>
	<li><%= link_to "900 - Intro to GitHub", "http://www.youtube.com/watch?v=DicH5X8Vark" %></li>
	<li><%= link_to "1000 - Git Push", "http://www.youtube.com/watch?v=BBrHBSa2LYo" %></li>
	<li><%= link_to "1100 - Git Fetch, Git Pull", "http://www.youtube.com/watch?v=XogN0Q4sb9o" %></li>
	<li><%= link_to "1200 - Pull Requests Part 1", "http://www.youtube.com/watch?v=iezsyzzrDg4" %></li>
	<li><%= link_to "1250 - Pull Requests Part 2", "http://www.youtube.com/watch?v=ikExlASV5OE" %></li>
	<li><%= link_to "1300 - Workflow", "http://www.youtube.com/watch?v=XqO4fYJK1Ek" %></li>
	<li><%= link_to "1400 - Where to go from here", "http://www.youtube.com/watch?v=wqHtWK-L_L0" %></li>
	<li><%= link_to "1500 - Fast-Forward Merging Part 1", "http://www.youtube.com/watch?v=u-vHhnKN5vg" %></li>
	<li><%= link_to "1550 - Fast-Forward Merging Part 2", "http://www.youtube.com/watch?v=-xid8vRXOYo" %></li>
	<li><%= link_to "1575 - Fast-Forward Merging Part 3", "http://www.youtube.com/watch?v=OXInybQFhMA" %></li>
	<li><%= link_to "1600 - Rebasing Part 1", "http://www.youtube.com/watch?v=kn0WZbqfyQk" %></li>
	<li><%= link_to "1650 - Rebasing Part 2", "http://www.youtube.com/watch?v=zcu_loJCF7E" %></li>
</ul>

Contact me at <%= link_to "casey.li@gmail.com", "mailto:casey.li@gmail.com" %>.