<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'prototype.js' 'effects.js' 'dragdrop.js' 'controls.js' 'application.js' %>
  <%= javascript_include_tag 'jquery-1.7.min.js'%>
  <%= javascript_include_tag 'rails.js'%>
  <%= javascript_include_tag 'easySlider1.5.js' %>
  <%= csrf_meta_tag %>
  <%= render 'layouts/stylesheets' %>
</head>
<body>
	<div class="container">
		<div class="main">
		<%= render 'layouts/header'%>
		<%= yield %>
		</div>
		<div class="footer">
		<%= render 'layouts/footer' %>
		</div>
	</div>
</body>
</html>
