<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag "jobapplication" %>
  <%= javascript_include_tag 'application.js'%>
  <%= csrf_meta_tag %>
  
</head>
<body>
	<div class="container">
		<div class="main">
			<%= yield %>
		</div>
	</div>
</body>
</html>
