<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag "legacy/application" %>
  <%= javascript_include_tag 'application.js'%>
  <%= csrf_meta_tag %>
  
</head>
<body class="job-application-body">
	<%= yield %>
</body>
</html>
